FLOWISE_API_HOST=https://cloud.flowiseai.com
FLOWISE_FLOW_ID=
FLOWISE_API_KEY=
N8N_API_URL=
N8N_API_KEY=
N8N_WORKFLOW_ID=1whquJktIBm3WqkG
N8N_TARGET_WORKFLOW_PATH=n8n/exports/telegram-flowise-newchat-target.json
TELEGRAM_BOT_TOKEN=
TELEGRAM_TEST_CHAT_ID=
